
$font-stack: Lato;

Info {
    position: absolute;
    bottom: 64px;
    right: 64px;
    width: 250px;
    flex-direction: column-reverse;
    border-radius: 15px 50px;

    cell {
        transition: all 0.1s ease;



        &.active {
            padding: 16px;

            .name {
                color: white;
                font-size: 24px;
            }
        }

        .id {
            font-size: 12px;
        }
    }
}
